.VuePagination .VuePagination__pagination-item-prev-page.VuePagination__pagination-item-prev-chunk,
.VuePagination .VuePagination__pagination-item-next-page.VuePagination__pagination-item-next-chunk  {
    display: none;
}
.VuePagination .page-item.active .page-link {
    background-color: transparent;
    color: #000;
    font-weight: bold;
}
.VuePagination p.VuePagination__count {
    display: none;
}
.missed-content a.Inactive {
    background: transparent;
    border: 2px solid rgb(156, 108, 255);
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    display: flex;
}
.missed-content a.Inactive:after {
    content: 'x';
    color: rgb(156, 108, 255);
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}
.Section__section-content--hXY1b {
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.DelegatorTable__delegators-table-container--15lfW {
    height: 268px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.NoValues__no-values-wrapper--rrUFS {
    height: 100%;
    -webkit-flex: 1 1;
    flex: 1 1;
    margin-bottom: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px 0;
}
.NoValues__no-values-wrapper--rrUFS .NoValues__no-value-img--NL2Dm {
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.NoValues__no-values-wrapper--rrUFS .NoValues__no-values--3sfhG {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.21;
}
.list-owl-block.owl-carousel.owl-theme {
    display: block !important;
}

td.td-skeleton > span {
    width: 100%;
}
.pu-skeleton {
    background-color: #ddd !important;
}

.PROPOSAL_STATUS_VOTING_PERIOD {
    background: #00b1ff !important;
}

.PROPOSAL_STATUS_PASSED {
    background: #37cc6e !important;
}

.PROPOSAL_STATUS_DEPOSIT_PERIOD {
    background: #f3a52f !important;
}

.PROPOSAL_STATUS_REJECTED {
    background: #ff2745 !important;
}
#copied-address {
    opacity: 1;
    transition: opacity 1s;
}
#copied-address.hide {
    opacity: 0;
}

.col-05 i {
    color: #B8BDC6;
}

.cos-table-list[v-hide="true"] {
    display: none;
}

.table-votes .cos-title .list-filter li span.tab {
    display: block;
    font-size: 10px;
    line-height: 20px;
    color: #000;
    cursor: pointer;
}

.table-votes .cos-title .list-filter li.active span.tab,
.table-votes .cos-title .list-filter li:hover span.tab {
    font-weight: 700;
    color: #fff;
    display: block;
    font-size: 10px;
    line-height: 20px;
}

.proposals-detail a.btn-status-proposal {
    width: fit-content;
    max-width: unset;
}

.cnt-chart-acc .content-chart .note-chart ul li div.percent {
    padding-left: 10px;
}

@media (max-width: 1024px) {
    .cos-table-item .cos-item-content table.table-home-block tbody tr td.td-skeleton {
        width: 100%;
    }
    .validator-detail-content .status-validator.skeleton {
        display: flex;
    }
}