.cnt-qr-code .content-qr-code {
  height: 128px;
  width: 128px;
}
.VuePagination .VuePagination__pagination-item-prev-page.VuePagination__pagination-item-prev-chunk,
.VuePagination .VuePagination__pagination-item-next-page.VuePagination__pagination-item-next-chunk  {
    display: none;
}
.pagination-wrapper .pagination a:hover {
  background: transparent;
}
.VuePagination .page-item.active .page-link {
    background-color: transparent;
    color: #000;
    font-weight: bold;
}
.VuePagination p.VuePagination__count {
    display: none;
}
.missed-content a.Inactive {
    background: transparent;
    border: 2px solid #3E8CFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    display: flex;
}
.missed-content a.Inactive:after {
    content: 'x';
    color: #3E8CFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}
.Section__section-content--hXY1b {
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.DelegatorTable__delegators-table-container--15lfW {
    height: 280px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.NoValues__no-values-wrapper--rrUFS {
    height: 100%;
    -webkit-flex: 1 1;
    flex: 1 1;
    margin-bottom: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px 0;
}
.NoValues__no-values-wrapper--rrUFS .NoValues__no-value-img--NL2Dm {
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.NoValues__no-values-wrapper--rrUFS .NoValues__no-values--3sfhG {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.21;
}
.list-owl-block.owl-carousel.owl-theme {
    display: block !important;
}

td.td-skeleton > span {
    width: 100%;
}
.pu-skeleton {
    background-color: #ddd !important;
}

.PROPOSAL_STATUS_VOTING_PERIOD {
    background: #00b1ff !important;
}

.PROPOSAL_STATUS_PASSED {
    background: #37cc6e !important;
}

.PROPOSAL_STATUS_DEPOSIT_PERIOD {
    background: #f3a52f !important;
}

.PROPOSAL_STATUS_REJECTED {
    background: #ff2745 !important;
}
#copied-address {
    opacity: 1;
    transition: opacity 0.4s;
}
#copied-address.hide {
    opacity: 0;
}

.col-05 i {
    color: #B8BDC6;
}

.cos-table-list[v-hide="true"] {
    display: none;
}

.table-votes .cos-title .list-filter li span.tab {
    display: block;
    font-size: 10px;
    line-height: 20px;
    color: #000;
    cursor: pointer;
}

.table-votes .cos-title .list-filter li.active span.tab,
.table-votes .cos-title .list-filter li:hover span.tab {
    font-weight: 700;
    color: #fff;
    display: block;
    font-size: 10px;
    line-height: 20px;
}

.content-proposals a.btn-status-proposal,
.proposals-detail a.btn-status-proposal {
    width: fit-content;
    max-width: unset;
}

.cnt-chart-acc .content-chart .note-chart ul li div.percent {
    padding-left: 10px;
}

.main-validator .table tbody tr td .stt.not-top-ten {
    color: #0058FF;
    background-color: #F6F2FF;
}

#icon-back-to-top {
    cursor: pointer;
}

.page-header-inner .header-search .input-search .form-control {
    padding-right: 30px;
}

.list-proposals li .content-proposals .right .text-note {
    min-height: 45px;
}

.list-proposals li .content-proposals .right .images {
    min-height: 73px;
}

.list-proposals li .content-proposals .right .text-note .note-color i.color-vote-option-yes {
    color: '#65A246';
}
.list-proposals li .content-proposals .right .text-note .note-color i.color-vote-option-no {
    color: '#F0142F';
}
.list-proposals li .content-proposals .right .text-note .note-color i.color-vote-option-no_with_veto {
    color: '#F99600';
}
.list-proposals li .content-proposals .right .text-note .note-color i.color-vote-option-abstain {
    color: '#57B8FF';
}
.main-validator .table tbody tr td a.acount-snow div.va_avatar img {
  width: 100%;
  height: 100%;
}
.left-infor .chart .list-btn div.price,
.left-infor .chart .list-btn div.volume {
  background: #fff;
  color: #000;
  font-weight: 400;
}
.left-infor .chart .list-btn div.price.active,
.left-infor .chart .list-btn div.volume.active {
  background: #0058FF;
  color: #fff;
  font-weight: 700;
}

.main-page .chart .images div.inactive {
  display:none
}

.main-page .chart .images div.active {
  display:block;
}

.block-detail-content .list-owl-block .list-infor-detail li:nth-child(3) div.detail {
  text-transform: uppercase;
}

.validator-detail-content .validate-title-top .validator-info-title .validator-info-status h2.status-jailed {
  color: #ff2745;
}

.validator-detail-content .validate-title-top .validator-info-title .validator-info-status h2.status-inactive {
  color: #4b525d;
}

.validator-detail-content .cos-table-item .validate-title-top .validator-info .validator-info-link a {
  font-family: "Inter", sans-serif;
  font-size: 13.6px;
  font-weight: 400;
  line-height: 1.5;
  word-break: break-word;
}

.main-body-content .cos-validator-detail .validator-detail-content .validate-title-top .validator-info-title .validator-info-avatar .validator-avatar img {
  border-radius: 50%;
}

table.table-validators thead tr th:first-child,
table.table-validators tbody tr td:first-child {
  padding: 5px 10px !important;
}

table.table-validators tbody tr td {
  justify-content: center;
  vertical-align: middle;
}

.table-responsive table.table-validators tbody tr td:nth-child(5),
.table-responsive table.table-validators table tbody tr td:nth-child(6) {
  vertical-align: middle;
}

.proposals-detail .list-owl-block .list-infor-detail li .detail {
  word-break: break-word;
}

.list-proposals .content-proposals a.btn-status-proposal {
  cursor: default;
}

.list-proposals .content-proposals .left .not-class-link {
  color: #212529;
}

.list-owl-block .list-infor-detail li .title.title-unset,
.list-owl-block .list-infor-detail li .title.title-detail-proposal {
  align-items: unset;
}

.page-transactions-address .list-owl-block .list-infor-detail li:not(:last-child) .title {
  word-break: break-word;
}

.percent.red {
  color: #ec3124 !important;
}

.block-detail-content table.tbl-block-txs a.box.btn1.nuxt-link-exact-active.nuxt-link-active:hover {
  color: #fff;
}

.validator-moniker.display-none {
  display: none;
}

.log-for-tx-type-failed {
  padding: 8px 18px;
  border-radius: 10px;
  background-color: #ffedef;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  color: #ff2745;
  line-height: 1.4;
  margin-bottom: 12px;
}

.page-dashboard ul.header-smaller {
  display: none;
}

.header-smaller .blocks-status .status-items {
  display: none;
}

.header-smaller ul.header-smaller>:not(:last-child) {
  margin-right: 20px;
}

.header-smaller ul.header-smaller.loading>:not(:last-child) {
  margin-right: 0;
}

.header-smaller ul.header-smaller.loading>:first-child span,
.header-smaller ul.header-smaller.loading>:first-child {
  height: 36px;
}

.header-smaller ul.header-smaller.loading>:not(:first-child) {
  display: none;
}
.header-smaller ul.header-smaller.loading {
  width: 100%;
  background: transparent;
}
.header-smaller ul.header-smaller.loading li {
  width: 100%;
}
.header-smaller ul.header-smaller.loading li span {
}

.header-smaller ul.header-smaller {
  width: fit-content;
  height: 36px;
  border-radius: 5px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  max-height: 36px;
  background-color: #e3e3e3;
  font-size: 14px;
}

.header-smaller ul.header-smaller li {
  list-style: none;
}

.header-smaller ul.header-smaller li span.number {
  font-weight: bold;
}

.page-content.header-smaller .custom-page-title .page-title {
  height: fit-content;
  line-height: unset;
}

.page-content.header-smaller .custom-page-title .page-title {
  height: fit-content;
  line-height: unset;
}

.cos-table-item .cos-item-content table.table-validators tbody tr td:nth-child(2) {
  text-align: left;
}
#table-validators th:nth-child(6) {
    padding-right: 10px !important;
}
#table-validators th {
    vertical-align: middle;
}

@media (max-width: 1110px) {
    .page-content.header-smaller .blocks-status {
      background-color: #e3e3e3;
    }

    .header-smaller ul.header-smaller {
      width: 100%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 8px;
      padding: 5px 12px;
      background: transparent;
    }

    .header-smaller ul.header-smaller.loading>:not(:first-child) {
      display: block;
    }

    .header-smaller ul.header-smaller.loading>:first-child span,
    .header-smaller ul.header-smaller.loading>:first-child {
      height: fit-content;
    }
}

@media (max-width: 1024px) {
    .cos-table-item .cos-item-content table.table-home-block tbody tr td.td-skeleton {
        width: 100%;
    }
    .validator-detail-content .status-validator.skeleton {
        display: flex;
    }
}

@media (max-width: 768px) {
    .main-validator .table tbody tr td .stt.not-top-ten {
        color: #0058FF;
        background-color: #F6F2FF;
    }
    .cos-table-item .cos-item-content table#table-validators.table-validators tbody tr.b-table-busy-slot td {
      display: block;
      left: 0;
      padding: 5px 10px !important;
    }
}

@media (max-width: 600px) {
  .page-content .custom-page-title .blocks-status {
    display: none;
  }
  .page-content.page-dashboard .custom-page-title .blocks-status {
    display: table;
  }
}
